In [1]:
# Import Dependencies 
import sqlite3 as sql
import pandas as pd

# Connect SQL Magic to Database

In [2]:
# Load SQL magic into notebook
%load_ext sql
# %reload_ext sql

# Connect SQL magic backend to the dataset 
%sql sqlite:////kaggle/input/basketball/nba.sqlite

In [3]:
# Use the %sql magic command to query the database for the game table and transform the response to a Pandas DataFrame
df_games = %sql select * from game
df_games = df_games.DataFrame() # transform magic response to Pandas DataFrame
df_games.head() # display first five rows of resultant DataFrame

 * sqlite:////kaggle/input/basketball/nba.sqlite
Done.

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,0024600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,0024600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,0024600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,0024600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,0024600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season

# Create Connection Object to Database

In [4]:
# Method - 2
conn = sql.connect('/kaggle/input/basketball/nba.sqlite') # create connection object to database
conn

In [5]:
df_games = pd.read_sql('select * from game', conn) # use connection object and a SQL query with Pandas
df_games.head() # display first five rows of resultant DataFrame

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,0024600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,0024600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,0024600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,0024600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,0024600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season

In [6]:
df_games.columns

Index(['season_id', 'team_id_home', 'team_abbreviation_home', 'team_name_home',
       'game_id', 'game_date', 'matchup_home', 'wl_home', 'min', 'fgm_home',
       'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
       'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
       'pts_home', 'plus_minus_home', 'video_available_home', 'team_id_away',
       'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away',
       'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away',
       'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away', 'plus_minus_away', 'video_available_away',
       'season_type'],
      dtype='object')

In [8]:
df_team = pd.read_sql('select * from team', conn) # use connection object and a SQL query with Pandas
df_team.head() # display first five rows of resultant DataFrame

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949.0
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970.0
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002.0
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966.0

In [12]:
df_game_team_details = pd.merge(df_games, df_team, left_on='team_id_home', right_on='id') # join game and team tables
df_game_team_details

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,plus_minus_away,video_available_away,season_type,id,full_name,abbreviation,nickname,city,state,year_founded
0,21946,1610612738,BOS,Boston Celtics,0024600008,1946-11-05 00:00:00,BOS vs. CHS,L,0,23.0,...,2,0,Regular Season,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0
1,21946,1610612744,PHW,Philadelphia Warriors,0024600010,1946-11-07 00:00:00,PHW vs. PIT,W,0,28.0,...,-6,0,Regular Season,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946.0
2,21946,1610612752,NYK,New York Knicks,0024600020,1946-11-11 00:00:00,NYK vs. CHS,L,0,26.0,...,10,0,Regular Season,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946.0
3,21946,1610612744,PHW,Philadelphia Warriors,0024600023,1946-11-14 00:00:00,PHW vs. WAS,W,0,26.0,...,-3,0,Regular Season,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946.0
4,21946,1610612738,BOS,Boston Celtics,0024600030,1946-11-16 00:00:00,BOS vs. HUS,W,0,18.0,...,-4,0,Regular Season,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64408,42022,1610612743,DEN,Denver Nuggets,0042200401,2023-06-01 00:00:00,DEN vs. MIA,W,240,40.0,...,-11,1,Playoffs,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976.0
64409,42022,1610612743,DEN,Denver Nuggets,0042200402,2023-06-04 00:00:00,DEN vs. MIA,L,240,39.0,...,3,1,Playoffs,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976.0
64410,42022,1610612748,MIA,Miami Heat,0042200403,2023-06-07 00:00:00,MIA vs. DEN,L,240,34.0,...,15,1,Playoffs,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988.0
64411,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09 00:00:00,MIA vs. DEN,L,240,35.0,...,13,1,Playoffs,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988.0
64412,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12 00:00:00,DEN vs. MIA,W,240,38.0,...,-5,1,Playoffs,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976.0

In [13]:
df_game_team_details.columns

Index(['season_id', 'team_id_home', 'team_abbreviation_home', 'team_name_home',
       'game_id', 'game_date', 'matchup_home', 'wl_home', 'min', 'fgm_home',
       'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
       'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
       'pts_home', 'plus_minus_home', 'video_available_home', 'team_id_away',
       'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away',
       'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away',
       'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away', 'plus_minus_away', 'video_available_away',
       'season_type', 'id', 'full_name', 'abbreviation', 'nickname', 'city',
       'state', 'year_founded'],
      dtype='object')

In [14]:
df_officials = pd.read_sql('select * from officials', conn) # use connection object and a SQL query with Pandas
df_officials.head() # display first five rows of resultant DataFrame

      game_id official_id first_name  last_name jersey_num
0  0029600059        1140      Bruce  Alexander          9
1  0029600059        1165       Luis     Grillo          8
2  0029600059        1153        Joe   Crawford         17
3  0029600114        1147       Mike   Callahan         24
4  0029600114        1142       Dick    Bavetta         27

In [17]:
df_game_team_officials_details = pd.merge(df_game_team_details, df_officials, on='game_id') # join df_game_team_details and df_officials tables
df_game_team_officials_details.head()

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,full_name,abbreviation,nickname,city,state,year_founded,official_id,first_name,last_name,jersey_num
0,21996,1610612765,DET,Detroit Pistons,0029600059,1996-11-08 00:00:00,DET vs. CHI,L,240,32.0,...,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948.0,1140,Bruce,Alexander,9
1,21996,1610612765,DET,Detroit Pistons,0029600059,1996-11-08 00:00:00,DET vs. CHI,L,240,32.0,...,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948.0,1165,Luis,Grillo,8
2,21996,1610612765,DET,Detroit Pistons,0029600059,1996-11-08 00:00:00,DET vs. CHI,L,240,32.0,...,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948.0,1153,Joe,Crawford,17
3,21996,1610612752,NYK,New York Knicks,0029600114,1996-11-16 00:00:00,NYK vs. MIN,W,240,31.0,...,New York Knicks,NYK,Knicks,New York,New York,1946.0,1147,Mike,Callahan,24
4,21996,1610612752,NYK,New York Knicks,0029600114,1996-11-16 00:00:00,NYK vs. MIN,W,240,31.0,...,New York Knicks,NYK,Knicks,New York,New York,1946.0,1142,Dick,Bavetta,27

In [20]:
df_game_team_officials_details.columns

Index(['season_id', 'team_id_home', 'team_abbreviation_home', 'team_name_home',
       'game_id', 'game_date', 'matchup_home', 'wl_home', 'min', 'fgm_home',
       'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
       'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
       'pts_home', 'plus_minus_home', 'video_available_home', 'team_id_away',
       'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away',
       'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away',
       'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away', 'plus_minus_away', 'video_available_away',
       'season_type', 'id', 'full_name', 'abbreviation', 'nickname', 'city',
       'state', 'year_founded', 'official_id', 'first_name', 'last_name',
       'jersey_num'],
      dtype='object')

In [21]:
df_inactive_players = pd.read_sql('select * from inactive_players', conn) # use connection object and a SQL query with Pandas
df_inactive_players.head() # display first five rows of resultant DataFrame

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
0,0029600034,184,Bobby,Phills,14,1610612739,Cleveland,Cavaliers,CLE
1,0029600034,781,Will,Perdue,41,1610612759,San Antonio,Spurs,SAS
2,0029600132,120,Steven,Smith,8,1610612737,Atlanta,Hawks,ATL
3,0029600203,698,Eddie,Johnson,8,1610612754,Indiana,Pacers,IND
4,0029600213,32,Clifford,Rozier,44,1610612753,Orlando,Magic,ORL

In [22]:
df_game_team_officials_inactive_players_details = pd.merge(df_game_team_officials_details, df_inactive_players, on='game_id')
df_game_team_officials_inactive_players_details.head()

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,last_name_x,jersey_num_x,player_id,first_name_y,last_name_y,jersey_num_y,team_id,team_city,team_name,team_abbreviation
0,21996,1610612739,CLE,Cleveland Cavaliers,0029600213,1996-11-30 00:00:00,CLE vs. ORL,L,240,34.0,...,Javie,29,32,Clifford,Rozier,44,1610612753,Orlando,Magic,ORL
1,21996,1610612739,CLE,Cleveland Cavaliers,0029600213,1996-11-30 00:00:00,CLE vs. ORL,L,240,34.0,...,Capers,19,32,Clifford,Rozier,44,1610612753,Orlando,Magic,ORL
2,21996,1610612739,CLE,Cleveland Cavaliers,0029600213,1996-11-30 00:00:00,CLE vs. ORL,L,240,34.0,...,Durham,31,32,Clifford,Rozier,44,1610612753,Orlando,Magic,ORL
3,22000,1610612739,CLE,Cleveland Cavaliers,0020000089,2000-11-11 00:00:00,CLE vs. WAS,W,240,30.0,...,Nunez,28,445,Wesley,Person,1,1610612739,Cleveland,Cavaliers,CLE
4,22000,1610612739,CLE,Cleveland Cavaliers,0020000089,2000-11-11 00:00:00,CLE vs. WAS,W,240,30.0,...,Palmer,66,445,Wesley,Person,1,1610612739,Cleveland,Cavaliers,CLE

In [23]:
df_game_team_officials_inactive_players_details.columns

Index(['season_id', 'team_id_home', 'team_abbreviation_home', 'team_name_home',
       'game_id', 'game_date', 'matchup_home', 'wl_home', 'min', 'fgm_home',
       'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
       'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
       'pts_home', 'plus_minus_home', 'video_available_home', 'team_id_away',
       'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away',
       'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away',
       'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away', 'plus_minus_away', 'video_available_away',
       'season_type', 'id', 'full_name', 'abbreviation', 'nickname', 'city',
       'state', 'year_founded', 'official_id', 'first_name_x', 'last_name_x',
       'jersey_num_x', 'player_id', 'first_name_y', 'last_name_y',
       'jersey_num_y', 'team_id', 'team_city', 'team_name',
       'team_abbreviation'],
      dtype='object')

# Save Dataset

In [24]:
df_game_team_officials_inactive_players_details.to_csv(
    'df_game_team_officials_inactive_players_details.csv',
    index=False
)